@page "/juego/{PartidaId:int}"
@inject SesionUsuario Sesion
@inject IHttpServicio http
@inject HttpClient httpClient
@inject IJSRuntime js


<PageTitle>Partida</PageTitle>

<div class="partida">

<h1>Partida #@PartidaId</h1>

@if(cartasJugador.Count == 0)
{
    <p>Cargando cartas...</p>
}
else
{
    <h3>Cartas del Rival:</h3>
    <div class="testeo">
        @foreach(var carta in cartasRival)
        {
            <Carta carta="carta"/>
        }
    </div>

    <h3>Cartas del Jugador:</h3>

    <div class="testeo">
        
        @foreach (var carta in cartasJugador)
        {
            <Carta carta="carta"/>
        }
    </div>

    <h3>Tablero Rival:</h3>
    <div class="tablero">
        <div class="campo" @onclick="@(() => ColocarCarta("Campo1"))">
            @foreach (var carta in cartasEnCampoRival.Where(c => c.Posicion == "Campo1"))
            {
                <Carta carta="carta" />
            }
        </div>
        <div class="campo" @onclick="@(() => ColocarCarta("Campo2"))">
            @foreach (var carta in cartasEnCampoRival.Where(c => c.Posicion == "Campo2"))
            {
                <Carta carta="carta" />
            }
        </div>
        <div class="campo" @onclick="@(() => ColocarCarta("Campo3"))">
            @foreach (var carta in cartasEnCampoRival.Where(c => c.Posicion == "Campo3"))
            {
                <Carta carta="carta" />
            }
        </div>
    </div>

    <h3>Tablero Jugador:</h3>
    <div class="tablero">
        <div class="campo" @onclick="@(() => ColocarCarta("Campo1"))">
            @foreach (var carta in cartasEnCampo.Where(c => c.Posicion == "Campo1"))
            {
                <Carta carta="carta" />
            }
        </div>
        <div class="campo" @onclick="@(() => ColocarCarta("Campo2"))">
            @foreach (var carta in cartasEnCampo.Where(c => c.Posicion == "Campo2"))
            {
                <Carta carta="carta" />
            }
        </div>
        <div class="campo" @onclick="@(() => ColocarCarta("Campo3"))">
            @foreach (var carta in cartasEnCampo.Where(c => c.Posicion == "Campo3"))
            {
                <Carta carta="carta" />
            }
        </div>
    </div>

    <div class="cementerio">
        <p>Cementerio: @Cementerio</p>
    </div>

    <div class="mazo">
        <p>Cartas: @Mazo</p>
    </div>
    
    <div class="mano">
        <h3>Cartas en mano:</h3>
        <div class="cartasMano">
        @foreach (var carta in cartasMano)
        {
            <Carta carta="carta" OnCartaClick="SeleccionarCarta"/>
        }
        </div>
        <button class="btn btn-primary" @onclick="RobarCarta">Robar Carta</button>

        <button class="btn btn-secondary" @onclick="Actualizar">Actualizar</button>
    </div>


    
}

</div>

@code {
    [Parameter] public int PartidaId { get; set; }

    private List<EstadoCartaDTO> cartasJugador = new List<EstadoCartaDTO>();
    private int UsuarioPartidaId;
    private int Mazo = 0;
    private List<EstadoCartaDTO> cartasMano = new List<EstadoCartaDTO>();
    private List<EstadoCartaDTO> cartasRival = new List<EstadoCartaDTO>();
    private List<EstadoCartaDTO> cartasEnCampo = new List<EstadoCartaDTO>();
    private List<EstadoCartaDTO> cartasEnCampoRival = new List<EstadoCartaDTO>();
    private EstadoCartaDTO? cartaSeleccionada = null;
    private HubConnection? hubConnection;
    private int Cementerio = 0;
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var idStr = await js.InvokeAsync<string>("localStorage.getItem", "UsuarioId");
            if (!string.IsNullOrEmpty(idStr) && int.TryParse(idStr, out var id))
            {
                Sesion.UsuarioId = id;
                await CargarPartida();

                hubConnection = new HubConnectionBuilder()
                 .WithUrl("https://localhost:7192/juegoHub")
                 .WithAutomaticReconnect()
                 .Build();

                hubConnection.On("ActualizarPartida", async () =>
                {
                    await InvokeAsync(Actualizar);
                });

                await hubConnection.StartAsync();


                if (hubConnection != null)
                {
                    await hubConnection.InvokeAsync("UnirsePartida", PartidaId);
                }

            }
            StateHasChanged();
        }
    }

    private void SeleccionarCarta(EstadoCartaDTO carta)
    {
        cartaSeleccionada = carta;
        StateHasChanged();
    }

    private async Task ColocarCarta(string campoDestino)
    {
        if (cartaSeleccionada == null)
            return;

        cartaSeleccionada.Posicion = campoDestino;

        var resp = await httpClient.PutAsync($"api/Juego/estadoCarta/colocarEnCampo/{UsuarioPartidaId}/{cartaSeleccionada.Id}/{campoDestino}/{1}", null);

        cartaSeleccionada = null;
        if (hubConnection != null)
        {
            await hubConnection.InvokeAsync("ActualizarPartida", PartidaId);
        }

        StateHasChanged();
    }

    private async Task CargarPartida()
    {
        try
        {

            var httpRespUsuarioPartida = await http.Get<int>($"api/Juego/buscarUsuarioPartida/{Sesion.UsuarioId}");
            if (!httpRespUsuarioPartida.Error)
            {
                UsuarioPartidaId = httpRespUsuarioPartida.Respuesta;
            }
            else
            {
                Console.WriteLine("Error al obtener el perfil del usuario.");
            }

            var tipoMazo = Uri.EscapeDataString("Mazo Inicial");

            var url = $"api/Juego/CrearEstadosCartas/{UsuarioPartidaId}/{tipoMazo}";
            var httpResp = await http.Post<object, MensajeRespuestaDTO>(url, new { });
            if (httpResp.Error)
            {
                Console.WriteLine("Error al crear el mazo inicial.");
            }

            await CartasDelJugador();

            await CartasDelRival();

            await CartasEnMano();

            await CartasEnMazo();

            CartasEnCampo();

            CartasEnCampoRival();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al inicializar la partida: {e.Message}");
        }
    }

    private async Task CartasEnMano()
    {
        try
        {
            var httpResp = await http.Get<List<EstadoCartaDTO>>($"api/Juego/estadoCarta/filtrarPosicion/{UsuarioPartidaId}/Mano");
            if(!httpResp.Error && httpResp.Respuesta != null)
            {
                cartasMano = httpResp.Respuesta;
            }
            else
            {
                Console.WriteLine("Error al obtener las cartas en mano.");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al obtener las cartas en mano: {e.Message}");
        }
    }


    private void CartasEnCampo()
    {
        cartasEnCampo =  cartasJugador
                    .Where(c => c.Posicion == "Campo1" || c.Posicion == "Campo2" || c.Posicion == "Campo3")
                    .OrderBy(c =>
                        c.Posicion switch
                        {
                            "Campo1" => 1,
                            "Campo2" => 2,
                            "Campo3" => 3,
                            _ => 4
                        }).ToList();
    }

    private void CartasEnCampoRival()
    {
        cartasEnCampoRival = cartasRival
                    .Where(c => c.Posicion == "Campo1" || c.Posicion == "Campo2" || c.Posicion == "Campo3")
                    .OrderBy(c =>
                        c.Posicion switch
                        {
                            "Campo1" => 1,
                            "Campo2" => 2,
                            "Campo3" => 3,
                            _ => 4
                        }).ToList();
    }


    private async Task RobarCarta()
    {
        try
        {
            var httpResp = await httpClient.PutAsync($"api/Juego/estadoCarta/robarCarta/{UsuarioPartidaId}/1", null);
            if (httpResp.IsSuccessStatusCode)
            {
                await Actualizar();
            }
            else
            {
                Console.WriteLine("Error al robar.");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al robar carta: {e.Message}");
        }
    }

    private async Task CartasEnMazo()
    {
        try
        {
            var httpResp = await http.Get<List<EstadoCartaDTO>>($"api/Juego/estadoCarta/filtrarPosicion/{UsuarioPartidaId}/Mazo");
            if (!httpResp.Error && httpResp.Respuesta != null)
            {
                Mazo = httpResp.Respuesta.Count();

            }
            else
            {
                Console.WriteLine("Error al obtener las cartas en el mazo.");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al obtener las cartas en el mazo: {e.Message}");
        }
    }

    private async Task CartasEnCementerio()
    {
        try
        {
            var httpResp = await http.Get<List<EstadoCartaDTO>>($"api/Juego/estadoCarta/filtrarPosicion/{UsuarioPartidaId}/Cementerio");
            if (!httpResp.Error && httpResp.Respuesta != null)
            {
                Cementerio = httpResp.Respuesta.Count();

            }
            else
            {
                Console.WriteLine("Error al obtener las cartas en el cementerio.");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al obtener las cartas en el cementerio: {e.Message}");
        }
    }

    private async Task CartasDelJugador()
    {
        try 
        { 
            var httpResp = await http.Get<List<EstadoCartaDTO>>($"api/Juego/estadoCarta/usuario/{UsuarioPartidaId}");
            if (!httpResp.Error && httpResp.Respuesta != null)
            {
                cartasJugador = httpResp.Respuesta;
            }
            else
            {
                Console.WriteLine("Error al obtener las cartas.");
            } 
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al obtener las cartas: {e.Message}");
        }

    }

    private async Task CartasDelRival()
    {
        try
        {
            var httpRespRivalId = await http.Get<int>($"api/Juego/usuarioPartida/{UsuarioPartidaId}");
            if (!httpRespRivalId.Error)
            {
                var rivalId = httpRespRivalId.Respuesta;
                var httpResp = await http.Get<List<EstadoCartaDTO>>($"api/Juego/estadoCarta/usuario/{rivalId}");
                if (!httpResp.Error && httpResp.Respuesta != null)
                {
                    cartasRival = httpResp.Respuesta;
                }
                else
                {
                    Console.WriteLine("Error al obtener las cartas.");
                }
            }
            else
            {
                Console.WriteLine("Error al obtener el ID del rival.");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al obtener las cartas del rival: {e.Message}");
        }
    }

    private async Task Actualizar()
    {
        await CartasDelJugador();
        await CartasDelRival();
        await CartasEnMazo();
        await CartasEnMano();
        CartasEnCampo();
        CartasEnCampoRival();
        StateHasChanged();
    }
}