@inject IJSRuntime js

<div class="carta" data-nombre="@carta.Nombre" @onclick="() => OnCartaClick.InvokeAsync(carta)">
    <div class="carta-header">
        <p>@carta.Nombre</p>
    </div>

    <div class="carta-body">
        <img src="@($"img/cartas/{carta.Nombre}.png")" alt="@carta.Nombre" onerror="this.src='img/cartas/default.png';" />
        <p class="stats">🗡️ @carta.Ataque - ❤️ @carta.Vida - 👟 @carta.Velocidad</p>
    </div>

    <div class="carta-footer">
        <small>Posición: @carta.Posicion</small>
    </div>
</div>

@code {
    [Parameter] public EstadoCartaDTO carta { get; set; } = default!;
    [Parameter] public EventCallback<EstadoCartaDTO> OnCartaClick { get; set; }

}
